@use "../../assets/sass/variables" as *;
@use "../../assets/sass/mixins" as *;

@keyframes slide-in-from-top {
  0% {
    transform: translateY(-15%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.cart {
  width: 80%;
  padding: 1em;

  background-color: $body-bg-color;
  border: none;
  border-radius: 0.2em;

  &[open] {
    animation: slide-in-from-top 0.35s ease-out;
  }

  &::backdrop {
    background-color: rgba(43, 46, 56, 0.9);
  }
}

.cart__content {
  position: relative;

  padding: 4em 1em 2em;
}

.cart__button,
.cart__close {
  width: 1.563em;
  height: 1.563em;
  padding: 0;

  font-size: 2em;
  color: inherit;

  background-color: transparent;
  border: 0.031em solid $faint-text-color;

  cursor: pointer;
  transition: outline 220ms ease-in-out;

  &:focus {
    border-color: transparent;

    outline: 0.25rem solid $state-color;
    outline-offset: -0.25rem;
  }

  &:focus:not(:focus-visible) {
    border-color: $faint-text-color;

    outline: none;
  }

  &:focus-visible {
    border-color: transparent;

    outline: 0.25rem solid $state-color;
    outline-offset: -0.25rem;
  }
}

.cart__close {
  position: absolute;
  top: 0.031em;
  right: 0.031em;
}

.cart__title {
  margin: 0;
  margin-bottom: 1em;
  padding-top: 0.5em;

  @include title-font();
  text-align: center;
}

.cart__list {
  margin: 0;

  @include reset-list();
}

.cart__item {
  margin-bottom: 1em;
}

.cart__name {
  margin: 0;
  margin-bottom: 0.67em;

  font: inherit;
}

.cart__price,
.cart__amount {
  margin: 0;
  margin-bottom: 0.67em;

  font-family: $work-sans-700-800-font-family;
  font-weight: 700;
  font-size: 0.875em;
  line-height: 1.143;
}

.cart__summary {
  margin-top: 0;
  margin-bottom: 1.5em;
  padding-top: 1em;

  font-family: $work-sans-700-800-font-family;
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .cart__content {
    padding-right: 2em;
    padding-left: 2em;
  }
}

@media (min-width: $desktop-width) {
  .cart__content {
    padding-right: 4em;
    padding-left: 4em;
  }

  .cart__list {
    display: flex;
    flex-wrap: wrap;
  }

  .cart__item {
    flex-shrink: 0;
    flex-basis: auto;

    width: 33.33%;
  }
}
