@use "../../../assets/sass/variables" as *;

.skip {
  justify-content: center;
  align-items: center;

  display: none;
  width: 2.5em;
  height: 3.563em;
  padding: 0.875em;

  text-decoration: none;
  vertical-align: top;
  color: $heavy-text-color;

  background-color: transparent;
  border: none;
  border-radius: 0.2em;

  cursor: pointer;
  transition: 220ms ease-in-out;

  &:hover,
  &:active {
    color: $state-color;
  }

  &:focus {
    outline: 0.125em solid $state-color;
    outline-offset: -0.125em;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 0.125em solid $state-color;
    outline-offset: -0.125em;
  }
}

.skip__icon {
  flex-shrink: 0;
  flex-basis: auto;

  display: block;
  width: 0.75em;
  height: 1.813em;

  stroke: currentColor;
}

@media (min-width: $tablet-width) {
  .skip {
    display: inline-flex;
  }
}
